
<!--about-->
<div class="about">
	<div class="container relative">
		<h4>About</h4>
		<div class="col-md-8 about-text">
			<p>Maximum gym is a gym located in Dansoman and is registered in ghana we provide the best gym facilities
                in accra.</p>
			<p class="second-text">It is said that giving up all their belongings and ties, the Pandavas, accompanied by a dog, made their final
				 journey of pilgrimage to the Himalayas. Yudhisthira was the only one to reach the mountain peak in his mortal
				  body, because he was unblemished by sin or untruth.the superior tracker but humans were the superior killer; thus wolves would lead humans to the 
				prey and humans would leave some of the meat to the wolves.</p>
		</div>
		<div class="col-md-4 about-slider">
								    <section class="slider">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="images/b1.jpg" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="images/b2.jpg" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="images/b1.jpg" class="img-responsive" alt="" />
									</li>
									<li>
									<img src="images/b3.jpg" class="img-responsive" alt="" />
									</li>
							  </ul>
							</div>
						  </section>
						  <!-- FlexSlider -->
						  <script defer src="js/jquery.flexslider.js"></script>
						  <script type="text/javascript">
							$(function(){
							  SyntaxHighlighter.all();
							});
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/about-->
<!--about-->
<!--find-dog-->
<div class="find-dog">
	<div class="container relative">
		<h4>PACKAGES</h4>
        <div class="col-md-4">
            <h3>Title of Package</h3>
            <p>Description of the package that aksjldfkslfksjlfslkfslkfjsdkl</p>
            <button class="btn btn-success">Buy</button>
        </div>
	</div>
</div>
<!--/find-dog-->
<!--Support-->
<div class="support">
	<div class="container relative">
		<div class="textimonials-section text-center">
			<h4>Textimonials</h4>
					<img src="images/t.png" alt="" />
					<h5>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram</h5>
					<p>Duis autem vel eum iriure dolor</p>
					<a href="" class="btn btn-1 btn-1d">Read Testimonials</a>
		</div>
	</div>
</div>
<!--/Support-->
<!--gallery-->
<div class="gallery">
		<div class="container relative">
			<h4>IMAGES</h4>
		<div class="label-3"> </div>
		<div class="label-4"> </div>
		<h3><span class="left-icon"> </span> <span class="right-icon"> </span><div class="clearfix"> </div></h3>
		<!--Portfolio-->
	<div class="project spl-gallery">
					<div id="portfoliolist">
						<div class="portfolio" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c1.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div>
						</div>				
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			               	</div>
						</div>		
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div>
						</div>						
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div>
						</div>	
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c5.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="images/c6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>	
			            <div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c7.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/c7.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/c8.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="images/c8.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Gym Lite<img src="images/p-search.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>		
			            <div class="clearfix"> </div>
			</div>
</div>
<!--/Portfolio-->
	</div>
</div>
<!--/gallery-->
<!--contact-->
<div class="contact">
	<div class="container relative">
		<h4>Information</h4>
		<div class="col-md-2 contact-logo">
			<a href="#"><img src="images/logo.png" /></a>
		</div>
		<div class="col-md-5 contact-address">
				<div class="contact-top-one">
					<h5>ADDRESS:</h5>
					<h6>The Company Name agi.<span>756 gt globel Place,</span>CD-Road,M 07 435.</h6>
				</div>
				<div class="contact-top-one">
					<h5>PHONES:</h5>
					<p>Telephone: +1 234 567 9871<span>FAX: +1 234 567 9871</span></p>
				</div>
				<div class="contact-top-one">
					<h5>E-MAIL:</h5>
					<p><a href="mailto:info@example.com">mail@user.com</a></p>
				</div>
		</div>
		<div class="col-md-5 contact-top-right">
			<form>
					<input type="text" placeholder="Name" required="">
					<input type="text" placeholder="Email" required="">
					<input type="text" placeholder="Subject" required="">
					<textarea placeholder="Message" required=""> </textarea>
				<div class="sub-button">
					<input type="submit" value="SEND">
				</div>
			</form>
		</div>
	</div>
</div>
<!--/contact-->
